.left_country {
    position: sticky;
    top: 140px;
    height: 200px;
    padding-bottom: 200px;
   /* overflow-y: scroll;*/
    background-color: var(--slidebox);
    border-bottom: solid #ffffff 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.card_dark{
    background-color: var(--slidebox);
}
.block_country{
    max-height: 50px;
    height: 200px;
}
.block_league{

}
.card_body_dark{
    background-color: var(--slidebox);
}
.card_d{
    --bs-card-border-radius:0px !important;
    color: #f7fafc;
}
.dashboard__body__wrap .account__head2 {
    color: var(--white);
    background: var(--slidebox);
    padding: 20px 30px 27px;
    z-index: 1;
}
.block-item{
    border-bottom: solid #ffffff 1px;
    padding: 5px;
    display: block;
}
.table-ranking{
    color: #ffffff;
}
.accordion-button{
    background-color: var(--header) !important;
    color: #f1f1f1 !important;
}
.accordion-item{
    color: #f1f1f1 !important;
}
.pagination {
    --bs-pagination-bg: var(--header) !important;
}
/* The side navigation menu */
.sidebar {
    top: 140px;
    padding: 0;
    width: 200px;
    background-color: var(--header);
    position: inherit;
    color: #f1f1f1;
    height: auto;
    max-height: 400px;
    overflow: auto;
    overflow-y: scroll;
    margin: 0 0 20px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
/******************************tabs*/
